* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Pretendard Variable';
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

@font-face {
  font-family: 'Pretendard Variable';
  src: url(".PretendardVariable-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px;
  z-index: 9;
}

header > div {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

header > div a {
  color: #fff;
}

header > div h1 a {
  background: url("../img/logo.png") no-repeat;
  font-size: 0;
  width: 96px;
  height: 36px;
  display: block;
}

header > div nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

header > div nav a {
  padding: 0 2%;
}

header > div .trigger-menu {
  width: 26px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 30%;
  cursor: pointer;
  display: none;
}

header > div .trigger-menu span {
  width: 100%;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 50%;
}

header > div .trigger-menu span:nth-of-type(1) {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

header > div .trigger-menu span:nth-of-type(3) {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

footer {
  padding: 100px 0;
  text-align: center;
}

.contact {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 10vh;
}

.contact h2 small {
  display: block;
  font-size: 1rem;
  font-weight: normal;
}

.contact div {
  margin-top: 40px;
}

.contact div input {
  padding: 18px 40px;
  border: none;
  width: 30%;
  vertical-align: middle;
}

.contact div a {
  vertical-align: middle;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  display: inline-block;
  padding: 16px 40px;
  background-color: #fed136;
}

main .visual .backgroundimg {
  width: 100%;
}

main .visual .backgroundimg img {
  width: 100%;
}

main .service {
  width: 70%;
  margin: 100px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .service h2 {
  font-size: 3rem;
  margin-bottom: 10vh;
  margin-bottom: 100px;
}

main .service h2 small {
  display: block;
  font-size: 1rem;
  font-weight: normal;
}

main .service ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

main .service ul li {
  width: 30%;
}

main .service ul li p {
  margin-bottom: 100px;
}

main .service ul li p img {
  width: 90px;
  height: 90px;
}

main .aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  background-color: #f2f2f1;
  padding: 100px;
}

main .aboutme .about-me-img {
  margin-right: 3%;
}

main .aboutme > article {
  width: 30%;
}

main .aboutme > article h2 {
  font-size: 3rem;
  margin-bottom: 10vh;
}

main .aboutme > article h2 small {
  display: block;
  font-size: 1rem;
  font-weight: normal;
}

main .aboutme > article > div ul {
  width: 560px;
}

main .aboutme > article > div ul li p {
  font-size: 18px;
  font-weight: bold;
}

main .aboutme > article > div ul li span {
  background-color: #fed136;
  display: inline-block;
  text-align: right;
  position: relative;
}

main .aboutme > article > div li:nth-of-type(1) span {
  width: 90%;
}

main .aboutme > article > div li:nth-of-type(2) span {
  width: 80%;
}

main .aboutme > article > div li:nth-of-type(3) span {
  width: 90%;
}

main .aboutme > article > div li:nth-of-type(4) span {
  width: 70%;
}
/*# sourceMappingURL=sub.css.map */